body {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    width: 250px;
    height: 90px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
}

.header-right {
    float: right;
}

.footer {
    position: fixed;
    border-top: 8px solid #4aaaa5;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    margin-bottom: 0;
 }

 .footer > p {
    margin-top: 40px;
 }